{% extends "base.html" %}

{% block title %}
<title> Your Profile </title>
{% endblock %}

{% block content %}
<h1 style="text-align: center;margin-top: 30px; margin-bottom: 10px;">Your Profile</h1>
{% if msg %}
<div class="alert alert-success col-sm-7" role="alert" style="margin-left: 250px;">
    {{ msg }}
</div>
{% endif %}
<div class="container">
    <table class="table" style="text-align: center;">
        <thead>
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{ form.user.name }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ form.user.email }}</td>
            </tr>
            <tr>
                <th scope="row">Comapny</th>
                <td>{{ form.user.companyName }}</td>
            </tr>
            <tr>
                <th scope="row">Designation</th>
                <td>{{ form.user.designation }}</td>
            </tr>
            <tr>
                <th scope="row">Technology</th>
                <td>{{ form.user.technologyWorkingOn }}</td>
            </tr>
            <tr>
                <th scope="row">Location</th>
                <td>{{ form.user.companyLocation }}</td>
            </tr>
        </tbody>
        </thead>
    </table>

    <div class="row">
        {% for mail in email.emails %}
        <div class="col-lg-4 col-md-4" style="text-align: center;">
            {% include 'profile_card.html' %}
            <!-- <a href="/emaildata/{{mail._id}}" class="list-group-item list-group-item-action">{{mail.type}}</a> -->
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}